/* Fondo exterior del login */
body.login-page {
    background: linear-gradient(135deg, #0dafd6 0%, #68bfcd 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caja principal del login */
.login-box {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 420px;
    padding: 40px 30px;
    text-align: center;
}

/*  Logo dentro de la caja del login */
.login-logo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #007bff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

/* Título */
.login-logo h1,
.login-box-msg {
    color: #0d47a1;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Inputs */
.login-box input.form-control {
    border-radius: 10px;
    border: 1px solid #90caf9;
    padding: 10px 15px;
}

/* Iconos dentro de los inputs */
.input-group-text {
    background-color: #e3f2fd;
    border-radius: 10px;
    border: none;
}

/* Botón principal */
.btn-primary {
    background-color: #65b2c6 !important;
    border: none !important;
    border-radius: 10px !important;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
    transition: all 0.3s ease;
}

/* Hover del botón */
.btn-primary:hover {
    background-color: #0d47a1 !important;
    transform: scale(1.03);
}
